{:paths ["src"]
 :deps {
        io.github.kotoba-lang/wit-capability
        {:git/url "https://github.com/kotoba-lang/wit-capability.git"
         :git/sha "3e86b77074fc7afc1dad4958f13884a975bbfdbc"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd6605cb6c0efc275e1df1736f6e90d4d73"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
